.opencode/*
AGENTS.md

backup/*

wordpress/wp-admin/*
wordpress/wp-content/plugins/*
wordpress/wp-content/backuply/*
wordpress/wp-content/fonts/*
wordpress/wp-content/ai1wm-backups/*
wordpress/wp-content/languages/*
wordpress/wp-content/litespeed/*
wordpress/wp-content/uploads/*

wordpress/wp-content/themes/flatsome/*
wordpress/wp-content/themes/twentytwentyfive/*
wordpress/wp-content/themes/twentytwentyfour/*
wordpress/wp-content/themes/twentytwentythree/*

wordpress/wp-includes/*

