# BEGIN Kadence Security - Không sửa đổi hoặc xóa dòng này
# Kadence Security Config Details: 2
	# Cấm Máy chủ - Bảo mật > Cài đặt > Người dùng bị cấm
	SetEnvIF REMOTE_ADDR "^40\.71\.252\.41$" DenyAccess
	SetEnvIF X-FORWARDED-FOR "^40\.71\.252\.41$" DenyAccess
	SetEnvIF X-CLUSTER-CLIENT-IP "^40\.71\.252\.41$" DenyAccess

	SetEnvIF REMOTE_ADDR "^147\.124\.220\.233$" DenyAccess
	SetEnvIF X-FORWARDED-FOR "^147\.124\.220\.233$" DenyAccess
	SetEnvIF X-CLUSTER-CLIENT-IP "^147\.124\.220\.233$" DenyAccess

	<IfModule mod_authz_core.c>
		<RequireAll>
			Require all granted
			Require not env DenyAccess
			Require not ip 40.71.252.41
			Require not ip 147.124.220.233
		</RequireAll>
	</IfModule>
	<IfModule !mod_authz_core.c>
		Order allow,deny
		Allow from all
		Deny from env=DenyAccess
		Deny from 40.71.252.41
		Deny from 147.124.220.233
	</IfModule>

	# Bảo vệ tệp hệ thống - Bảo mật > Cài đặt > Điều chỉnh hệ thống > Tệp hệ thống
	<files .htaccess>
		<IfModule mod_authz_core.c>
			Require all denied
		</IfModule>
		<IfModule !mod_authz_core.c>
			Order allow,deny
			Deny from all
		</IfModule>
	</files>
	<files readme.html>
		<IfModule mod_authz_core.c>
			Require all denied
		</IfModule>
		<IfModule !mod_authz_core.c>
			Order allow,deny
			Deny from all
		</IfModule>
	</files>
	<files readme.txt>
		<IfModule mod_authz_core.c>
			Require all denied
		</IfModule>
		<IfModule !mod_authz_core.c>
			Order allow,deny
			Deny from all
		</IfModule>
	</files>
	<files wp-config.php>
		<IfModule mod_authz_core.c>
			Require all denied
		</IfModule>
		<IfModule !mod_authz_core.c>
			Order allow,deny
			Deny from all
		</IfModule>
	</files>

	# Tắt Duyệt thư mục - Bảo mật > Cài đặt > Điều chỉnh hệ thống > Duyệt thư mục
	Options -Indexes

	<IfModule mod_rewrite.c>
		RewriteEngine On

		# Bảo vệ tệp hệ thống - Bảo mật > Cài đặt > Điều chỉnh hệ thống > Tệp hệ thống
		RewriteRule ^wp-admin/install\.php$ - [F]
		RewriteRule ^wp-admin/includes/ - [F]
		RewriteRule !^wp-includes/ - [S=3]
		RewriteRule ^wp-includes/[^/]+\.php$ - [F]
		RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F]
		RewriteRule ^wp-includes/theme-compat/ - [F]
		RewriteRule (^|.*/)\.(git|svn) - [F]

		# Tắt PHP trong Tải lên - Bảo mật > Cài đặt > Điều chỉnh hệ thống > PHP trong Tải lên
		RewriteRule ^wp\-content/uploads/.*\.(?:php[1-7]?|pht|phtml?|phps)\.?$ - [NC,F]

		# Tắt PHP trong Plugin - Bảo mật > Cài đặt > Tinh chỉnh Hệ thống > PHP trong Plugin
		RewriteRule ^wp\-content/plugins/.*\.(?:php[1-7]?|pht|phtml?|phps)\.?$ - [NC,F]

		# Tắt PHP trong Chủ đề - Bảo mật > Cài đặt > Tinh chỉnh Hệ thống > PHP trong Chủ đề
		RewriteRule ^wp\-content/themes/.*\.(?:php[1-7]?|pht|phtml?|phps)\.?$ - [NC,F]
	</IfModule>
# END Kadence Security - Không sửa đổi hoặc xóa dòng này

# BEGIN WordPress
# Các nội dung nằm giữa "BEGIN WordPress" và "END WordPress" được tạo ra tự động, và chỉ nên được thay đổi thông qua các filter của WordPress. Mọi thay đổi tới thành phần này có thể sẽ bị mất và ghi đè.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
